<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >StackMap Analytics</title>

    {% load staticfiles %}
    <!-- <link rel="shortcut icon" href="{%  static 'favicon.ico' %}"> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- JQuery Libraries -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
    <!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> -->

    <!-- styles for all reports with google charts -->
    
    <style type="text/css">
     
 

    </style>

  {% block styles %}
  {% endblock %}

  </head>

  <body>
  
    
	{% block content %}
	{% endblock %}
  
  {% block js %}
  {% endblock %}

  </body>
</html>


