
<!DOCTYPE html>
<html>
<head>

<title>New Post</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/main.css" %}">
</head>

<body>

<a href="/logout/">logout</a>
<h1>New Post</h1>


</body>

</html>