
<!DOCTYPE html>
<html>
<head>

<title>Title of the document</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/main.css" %}">
</head>

<body>

<a href="/logout/">logout</a>
<h1>My posts</h1>


{% for post in posts %}
<div class="article-post" >
	<h5>{{post.title}}: <span>{{post.author}}</span></h5>
	<p>{{post.text}}</p>
</div>

{% endfor %}
</body>

</html>