{% extends "core/base.html" %}

{% block styles %}
{% endblock %}

{% block content %}

  <div class="container login-container">
    <!-- {% load static %} -->
    <div class="company-logo-container">  

    </div>
    <h2>Blog Login</h2>
    <form action="./" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
    {{form.as_p}} 

    <input class="btn btn-sm btn-primary" type="submit" name="submit" value="Login" />

    </form>

    <a style="margin-top: 2em" href="/register/">Register Here</a>

  </div>
{% endblock %}


    