{% extends "core/base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container register-container">
    <h1>Register</h1>

    <strong>register here!</strong><br />

    <form id="user_form" method="post" action="/register/"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-sm btn-primary" type="submit" name="submit" value="Register" />
    </form>

    <a href="/login">Login if you already have an account</a><br />

</div>
{% endblock %}