{% extends "core/base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container register-container">
    <h1>Welcome to the community</h1>

    <p>You've succesfully register</p>
    <a href="/login">Click here to login</a><br />
  
    <br />

</div>
{% endblock %}